   /* 
   .amarelo {
            background-color: yellow;
        }

        .cinza {
            background-color: darkgray;
        }

        .laranja {
            background-color: orange;
        }

        .rodape {
            border: 2px solid gray;
            text-align: center;
        }
    */ 
/* CSS site Americanas */ 

/*
#topo {
    background: red;
}

.destaque {
    background-color: orange;
}
*/

/*
h1 {
    color: blueviolet;
}

h2 { 
    color: red;
}

p {
    color: rgb(240, 109, 2);
}

a {
    color: rgb(23, 68, 2);
}

li {
    background-color: lightblue;
    border: 1px solid blue;
}

table {
    background-color: orange;
    border: 5px solid darkred;
}


td {
    border: 5px solid black;
}
*/

body {
    font-family: "Montserrat", sans-serif;
}

